[submodule "lib/chck"]
	path = lib/chck
	url = ../chck.git
	branch = master
[submodule "protos/wayland-protocols"]
	path = protos/wayland-protocols
	url = git://anongit.freedesktop.org/wayland/wayland-protocols
