[submodule "lib/chck"]
	path = lib/chck
	url = https://github.com/Cloudef/chck
	branch = master
[submodule "protos/wayland-protocols"]
	path = protos/wayland-protocols
	url = https://anongit.freedesktop.org/git/wayland/wayland-protocols.git
